@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Athiti&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Athiti, sans-serif;
    font-weight: 400;
    background-color: #efecec;
}

/* Navigation */
#navbar li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 110%;  
}

#navbar a:hover {
    border-bottom: 2px solid white;
}

/* logo */
#logo {
    font-family: Allerta Stencil, sans-serif;
    text-transform: uppercase;
    float: left;
    /* color: rgb(233, 233, 233); */
    color: white;
    text-shadow: 4px 4px #161515;
    font-size: 380%;
}

/* Hero image */
#hero {
    max-width: 100%;
    height: 500px;
    background: url('../images/heading-image.jpg');
    background-position: center;
    background-size: cover;
}

/* text box on the home page */
#text-box {
    width: 50%;
    height: 300px;
    border: 4px solid white;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
}


#text-box h2 {
    padding-top: 60px;
    text-align: center;
    font-size: 2em;
}


#text-box p {
    width: 60%;
    margin: 10px auto;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;      
}

/* coach section */
#our-team {
    margin-top: 100px;
}


#our-team > h2 {
    text-align: center;
    font-size: 1.8em;
}


.container{
    text-align: center; 
    margin-top: 25px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}


.container > div img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.container > div {
    width: 350px;
    height: 250px;
}

/* Bottom section of the home page with membership and opening hours */
#bottom {
    background-color: #FAFAFA;
    width: 80%;
    margin: 80px auto; 
    border-left: 6px solid black;
    border-right: 6px solid black;
    display: flex;
    justify-content: center;
}


#bottom td{
    font-size: 1.2em;
    padding: 6px;
  } 


  .bottompage-container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
  }


  .bottompage-container h2{
    display: flex;
    justify-content: center;
  } 



  /* Form section on contact page */

  #form-section {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 2%;
}


.contact-form {
    border-radius: 8px;
    max-width: 500px;
    padding: 25px;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    background-color: #FAFAFA;  
}


.contact-form > h2 {
    display: flex;
    justify-content: center;
}


.form-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
}


.submit-button {
    margin: 0 auto;
    border-radius: 8px;
    padding: 15px;
    font-size: 100%;
    background-color: grey;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.message{
    background: transparent;
    border: 1px solid black;
    width: 100%;
}


.form-input::placeholder {
    padding-left: 5px;
}


.message::placeholder {
     padding-left: 5px;
}

/* form hover effects */
.submit-button:hover {
    background-color: black;
    cursor: pointer;
}


.form-input:hover {
    border: 2px solid black;  
}


.message:hover {
    border: 2px solid black;
}

/* footer style -credit the love running project for help with this */
.social-media {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}


.social-media > li {
    list-style: none;
}


.social-media i {
    font-size: 150%;
    color: black; 
}

/* media queries */
@media screen and (max-width: 1250px){

    #text-box {
        bottom: 30px;
    }
    
    #text-box h2 {
        padding-top: 40px;
    }
    
    
    #text-box p {
       font-size: 1em;
       width: 80%;
    }

    /* coach section  */
    .container > div {
        width: 250px;
        height: 250px;
    }
    
   
}


@media screen and (max-width: 600px){

    #hero {
        max-height: 150px;
        background-position: center center;
        background-size: cover;
    }

    
    #navbar li {
        clear: left;
    }
    
}
    
