@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Athiti&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Athiti, sans-serif;
    font-weight: 400;
    background-color: #efecec;

}
/* Navigation */

#navbar li {
    float: right;
    list-style: none;
    margin-right: 30px;
    
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 110%;
       
}

#navbar a:hover {
    border-bottom: 2px solid white;
}


/* logo */

#logo {
    font-family: Allerta Stencil, sans-serif;
    text-transform: uppercase;
    float: left;
    color: rgb(233, 233, 233);
    text-shadow: 4px 4px #161515;
    font-size: 380%;
    
   
}

/* Hero image */



#hero {
    max-width: 100%;
    height: 500px;
    background: url('../images/heading-image.jpg');
    background-position: center;
    background-size: cover;
       
}

/* text box on the home page */

#text-box {
    width: 50%;
    height: 300px;
    border: 4px solid white;
    margin: -50px auto;  

   

}

#text-box h2 {
    padding-top: 60px;
    text-align: center;
    font-size: 2em;
}

#text-box p {
    width: 60%;
    margin: 10px auto;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
        
}

/* coach section */

#our-team {
    margin-top: 100px;

}
#our-team > h2 {
    text-align: center;
    font-size: 1.8em;
}

.container{
    text-align: center;
    margin-top: 25px;
    
}

.container > div img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.container > div {
    width: 350px;
    height: 250px;
}

.left {
    float: left;
    margin-left: 100px;
    
}

.center {
    display: inline-block;
    margin: 0 auto;

}

.right {
    float: right;
    margin-right: 100px;

}

/* bottom section of hom,e page */

#bottom {
    margin: 100px;
    width: 80%;
}


/* membership at bottom of home page */
 #membership {
    float: left;
    width: 40%;
}

#membership h2 {
    text-transform: uppercase;
    text-align: center;
}

.membership-table {
    width: 80%;
    text-align: center;
   
    
}
.membership-table td{
    font-size: 1.2em;
    padding: 8px;
    
  }

  #enquire-button{
    text-align: center; 
  }

  button {
    background-color: rgba(0, 0, 0, .5);
    color: #efecec;
    padding: 6px;
    border-radius: 8px;
  } 

/*open hours on home page */

#open-hours{
    float: right;
    width: 40%;    
}

#open-hours h2 {
    text-transform: uppercase;
    text-align: center;
}

.hours-table {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    
}

.hours-table td{
    font-size: 1.2em;
    padding: 8px;
    
  } 


  /*horizontal lines */

hr {
    height: 3px;
    background-color: white;
}



/* footer style -credit the love running project */
footer {
    clear: both;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin-top: 2%; 
    padding: 5%; 
    color: black;

}

/* media queries */
@media screen and (max-width: 1250px){

    #text-box {
        margin: -30px auto; 
    }
    
    #text-box h2 {
        padding-top: 40px;
    }
    
    
    #text-box p {
       font-size: 1em;
       width: 80%;
        

    }
    /* coach section  */
    .container > div {
        width: 250px;
        height: 250px;
    }
    
    .left {
        float: left;
        margin-left: 50px;
        
    }
    
    .center {
        display: inline-block;
        margin: 0 auto;
    
    }
    
    .right {
        float: right;
        margin-right: 50px;
    
    }
    

}



@media screen and (max-width: 600px){

    #hero {
        max-height: 150px;
        background-position: center center;
        background-size: cover;
    }

    

    #navbar li {
        clear: left;
        
        
       

    }
    
}
    
